@import '../../variables.css';

.navBar{
    background-color: var(--secondary-bg);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 3px;
    width: 100%;
    display: inline-block;
}
.icon{
    font-size: 24px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.list-item{
    height: 40px;
    display: flex;
    color: var(--secondary-text);
    align-items: center;
    gap: 20px;
    padding: 2px;
    margin: 5px;
}

.list-item:hover .text{
    color: var(--primary-text);
}

.text{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}
